{% extends 'grid-gallery.twig' %}

{% macro putPreset(data) %}
    <div class="preset {% if environment.isPro() == false and data.pro %}disabled{% endif %}"
         data-preset="{{ data.value }}">
        <p>{{ data.title|title }}</p>
        <img src="{{ environment.getModule('galleries').getLocationUrl() }}/assets/img/{{ data.image }}" alt=""/>
        {% if data.pro and environment.isPro() == false %}
            <a class="button button-primary inPro"
                    {% if data.title == 'Categories' %}
                        href="http://supsystic.com/plugins/photo-gallery/" target="_blank">
                {% endif %}
                {% if data.title == 'Icons' %}
                    href="http://supsystic.com/plugins/photo-gallery/" target="_blank">
                {% endif %}
                {% if data.title == 'Pagination' %}
                    href="http://supsystic.com/plugins/photo-gallery/" target="_blank">
                {% endif %}
                Available in PRO
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% block header %}

    <nav id="supsystic-breadcrumbs" class="supsystic-breadcrumbs">
        <a href="{{ environment.generateUrl('galleries') }}">{{ environment.translate('Gallery by Supsystic') }}</a>
        <i class="fa fa-angle-right"></i>
        <a href="{{ environment.generateUrl('galleries, showPresets') }}">{{ environment.translate('Create new gallery') }}</a>
    </nav>

{% endblock %}

{% block content %}
    <h1 style="margin-left: 10px;padding-bottom: 10px !important;border-bottom: 1px solid;">{{ environment.translate('Create New Gallery') }}</h1>
    <h3 style="text-align: center;">{{ environment.translate('Choose Gallery Template.You can change template and settings on the next step.') }}</h3>
    <div id="gg-create-gallery-text">
        <h3 style="float: left; margin: 10px !important;">{{ environment.translate('Gallery Name:') }}</h3>
        <input name="title" type="text" style="float: left; width: 60%;"/>
        <button id="gallery-create" class="button button-primary" type="button">
            <i class="fa fa-check"></i>
            {{ environment.translate('Save') }}
        </button>
        {#<button id="gallery-cancel" class="button button-primary" type="button">
            {{ environment.translate('Cancel') }}
        </button>#}

        <div class="clear"></div>
        <input id="presetValue" name="preset" type="hidden" value="1"/>
    </div>
    {#<h1 style="margin-left: 10px;padding-bottom: 10px !important;border-bottom: 1px solid;">{{ environment.translate('Choose Gallery Template.') }}</h1>#}
    <div id="gg-create-gallery-text">
        <div class="presetSelect">
            {% import _self as preset %}

            {% set presets = [
            {'title':'', 'image':'template1.jpg', 'pro': false, 'value': 1},
            {'title':'', 'image':'template2.jpg', 'pro': false, 'value': 2},
            {'title':'', 'image':'template3.jpg', 'pro': false, 'value': 3},
            {'title':'', 'image':'template4.jpg', 'pro': false, 'value': 4}
            ] %}

            {#Pro presets#}
            {#{'title':'Categories', 'image':'4-categories.jpg', 'pro': true, 'value': 4},
            {'title':'Icons', 'image':'5-icons.jpg', 'pro': true, 'value': 5},
            {'title':'Pagination', 'image':'6-pagination_circle-gallery.jpg', 'pro': true, 'value': 6}#}

            {% for data in presets %}
                {{ preset.putPreset(data) }}
            {% endfor %}
        </div>
    </div>
    <div id="gg-create-gallery-loader" style="display: none;">
        <p class="gg-centered">

        <div class="gg-inline-loader gg-centered"></div>
        </p>
    </div>
{% endblock %}
